* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    background-color: #c5e4e7;
  }

  .center {
    display: grid;
    place-items: center;
    padding: 1rem;
    margin: 0 1rem;
  }
  .center img {
    width: auto;
  }

  .main {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .main input[type=text]:focus {
    border: 1.9px solid #26c0ab;
  }
  .main .main-child-1 {
    padding: 0.8rem;
  }
  .main .main-child-1 label {
    font-size: 1.4rem;
    color: #7f9c9f;
    margin: 1rem 0;
  }
  .main .main-child-1 .bills {
    all: unset;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    width: 75vw;
    height: auto;
    padding: 0.65rem 1.25rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    background-color: #f4fafa;
    background-repeat: no-repeat;
    color: #00494d;
    background-position: 20px 20px;
  }
  .main .main-child-1 .people {
    all: unset;
    display: block;
    width: 75vw;
    height: auto;
    font-size: 1.5rem;
    padding: 0.65rem 1.25rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color: #f4fafa;
    color: #00494d;
    background-repeat: no-repeat;
    background-position: 20px 20px;
  }
  .main .main-child-1 .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
  }
  .main .main-child-1 .buttons button {
    all: unset;
    background-color: #00494d;
    padding: 0.8rem 0.1rem;
    margin: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
  }
  .main .main-child-1 .buttons .custom {
    all: unset;
    width: 40vw;
    padding: 0.45rem;
    margin-left: 1rem;
    background-color: #f4fafa;
    color: #00494d;
  }
  .main .main-child-1 .buttons .custom:focus {
    border: 2px solid #26c0ab;
  }
  .main .main-child-1 .buttons button:hover {
    background-color: #6ae2d2;
    transition: background-color 0.1s;
  }
  .main .main-child-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #00494d;
    border-radius: 12px;
  }
  .main .main-child-2 label {
    display: block;
    color: #fff;
    font-size: 1.15rem;
  }
  .main .main-child-2 .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 0.4rem;
    font-size: 1.85rem;
  }
  .main .main-child-2 .top .small {
    font-size: 0.75rem;
    color: #26c0ab;
  }
  .main .main-child-2 .top .price {
    color: #26c0ab;
  }
  .main .main-child-2 .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 0.4rem;
    font-size: 1.85rem;
  }
  .main .main-child-2 .bottom .small {
    font-size: 0.75rem;
    color: #26c0ab;
  }
  .main .main-child-2 .bottom .price {
    color: #26c0ab;
  }
  .main .main-child-2 #reset {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
  }
  .main .main-child-2 #reset .reset {
    all: unset;
    padding: 1rem 6rem;
    background-color: #26c0ab;
    color: #00494d;
    border-radius: 10px;
  }
  .main .main-child-2 #reset .reset:hover {
    background-color: #6ae2d2;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-color: #c5e4e7;
  }
  .container .center {
    display: grid;
    place-items: center;
    padding: 1rem;
    margin: 0 1rem;
  }
  .container .center img {
    width: auto;
  }

  .main {
    display: grid;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
  }
  .main input[type=text]:focus {
    border: 1.9px solid #26c0ab;
  }
  .main .main-child-1 {
    padding: 1rem;
  }
  .main .main-child-1 label {
    font-size: 1.4rem;
    color: #7f9c9f;
    margin: 1rem 0;
  }
  .main .main-child-1 .bills {
    all: unset;
    font-size: 2.2rem;
    display: block;
    border-radius: 0.45rem;
    width: 350px;
    height: auto;
    padding: 0.65rem 2.5rem;
    margin: 1rem 0;
    background-color: #f4fafa;
    background-image: url("../images/icon-dollar.svg");
    background-repeat: no-repeat;
    color: #00494d;
    background-position: 20px 20px;
  }
  .main .main-child-1 .people {
    all: unset;
    display: block;
    width: 350px;
    height: auto;
    font-size: 2.2rem;
    padding: 0.65rem 2.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: #f4fafa;
    color: #00494d;
    background-repeat: no-repeat;
    background-image: url("../images/icon-person.svg");
    background-position: 20px 20px;
  }
  .main .main-child-1 .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
  }
  .main .main-child-1 .buttons button {
    all: unset;
    background-color: #00494d;
    padding: 0.8rem 0.1rem;
    margin: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
  }
  .main .main-child-1 .buttons .custom {
    all: unset;
    width: 100px;
    padding: 0.45rem;
    border-radius: 0.35rem;
    margin-left: 1rem;
    background-color: #f4fafa;
    color: #00494d;
  }
  .main .main-child-1 .buttons .custom:focus {
    border: 2px solid #26c0ab;
  }
  .main .main-child-1 .buttons button:hover {
    background-color: #6ae2d2;
    transition: background-color 0.1s;
  }

  .main-child-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #00494d;
    border-radius: 12px;
    margin: 1rem 0;
  }
  .main-child-2 label {
    display: block;
    color: #fff;
    font-size: 1.15rem;
  }
  .main-child-2 .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 0.4rem;
    font-size: 1.85rem;
    margin-bottom: 3rem;
  }
  .main-child-2 .top .small {
    font-size: 0.75rem;
    color: #26c0ab;
  }
  .main-child-2 .top .price {
    color: #26c0ab;
  }
  .main-child-2 .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 0.4rem;
    font-size: 1.85rem;
    margin-bottom: 3rem;
  }
  .main-child-2 .bottom .small {
    font-size: 0.75rem;
    color: #26c0ab;
  }
  .main-child-2 .bottom .price {
    color: #26c0ab;
  }
  .main-child-2 #reset {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  .main-child-2 #reset .reset {
    all: unset;
    padding: 1rem 6rem;
    background-color: #26c0ab;
    color: #00494d;
    border-radius: 10px;
  }
  .main-child-2 #reset .reset:hover {
    background-color: #6ae2d2;
  }
}

/*# sourceMappingURL=style.css.map */
